@model ProductDemo.Data.Model.Category

@{
    ViewBag.Title = "Kategori Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Sil</h2>

<h3>Kategoriyi silmek istiyormusunuz</h3>
<div>
    <h4>Kategori silme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
