@model IEnumerable<ProductDemo.Data.Model.Category>
   
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ürünler Ana Sayfa";
}

<div class="row">
    @Html.Partial("MainMenu",Model)
    <div class="col-md-9">
        @Html.Partial("ProductList1",Model.FirstOrDefault().Products)
      
      
    </div>
</div>